body{
    margin: 0;
    text-align: center;
    background-color: #F8F8F8;
}
*:focus { outline:none; }
li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}

/* 메뉴 부분 */
.menu{
    width: 210px;
    height: 1759px;
    background-color: #0059AB;
    position: absolute;
    top: 0;
    z-index: 1;
}
a{
    text-decoration: none;
}
/* 로고 부분 */
.logo{
    margin: 15px 0 15px 0;
}
/*  */


.menu .searching{
    overflow: hidden;
}
.menu .searching input{
    border: none;
    box-sizing: border-box;
    border:1px solid #8fbbdd;
    color : #555555;
    font-size: 12px;
    margin-left : 10px;
    float: left;
    width: 137px;
    height: 31px;
}
.menu .searching .btn{
    border: none;
    float: left;
    height: 30px;
    width: 33px;
}
.menu .searching .btn .icon a{
   
}
.big-menu{
    margin-top: 35px;
}
  
.big-menu span{
   /* border:1px solid red; */
   display: inline-block;
   width: 100px;
   height: 37px;
   color: white;
   line-height: 37px;
}
.big-menu span a{
    color: white;
    text-decoration: none;
    padding: 5px;
}
.small-menu{
    margin-top: 120px;
}
.small-menu li{
    padding-left: 20px;
    height: 60px;
    text-align: left;
    /* border: 1px solid white; */
    width : inherit;
    position: relative;
}
.small-menu span{
    margin-left: 40px;
    line-height: 60px;
}
 
.small-menu li::before{
    font-size: 1px;
    content : '';
    width: 20px;
    height: 20px;
    position:absolute; 
    border:1px solid white;
    border-radius: 50%;
    top : 50%;
    transform: translateY(-50%);
    left : 16px;

}
.small-menu li a{
    position :relative;
    color: white; 
}
 
.small-menu li a i{
    font-size: 12px;
    position:absolute;
    top:5px;
    left :1px;
}
.small-menu li:nth-child(1) a i{
    left: 2px;
}

.git-icon{
    width: 120px;
    height: 36px;
    /* border: 1px solid red; */
    margin-top: 55px;
    line-height: 36px;
    font-size: 12px;
    margin-left: 20px;
    position: relative;
}
.git-icon .fa{
    color: white;
}
.git-icon a{
    color: white;
    padding: 7px;
}
.git-icon::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 36px;
    background-color: gray;
    left: 0;
}

.background{
    background-color:#F8F8F8;
    position: absolute;
}
.background .top-title h2{
    color: gray;

}
.join-background .join-in .title{
    width: 387px;
    height: 60px;
    top: 70px;
    margin-left: 240px;
    border: 1px solid lightgray;
    background-color: #FFFFFF;
}
.join-background .join-in .title p{
    font-size: 17px;
    color: gray;
}
.wrap-item{
    position: relative;
    background-color: #FFFFFF;
    border: 1px solid lightgray;
    width: 387px;
    height: 436px;
    margin-left: 240px;
    border-top: none;
}

.wrap-item .item input{
    border-radius:5px;
    width: 350px;
    height: 40px;
    border: 1px solid lightgray;
    margin-top: 10px;
}
.wrap-item .item input::placeholder{
    margin-left: 15px;
}

.wrap-item .item input:focus{
    box-shadow: 0 0 10px #0059AB;
    border: none;
}
.check-box{
    display: flex;
    /* border: 1px solid red; */
    position: relative;
}
.check-box input{
    position: absolute;
    width: 20px;
    height: 20px;
    display: inline-block;
    top: 15px;
    left: 40px;
}
.check-box p{
    /* border: 1px solid red; */
    top: 15px;
    left: 50px;
    margin-left: 65px;
}

.formation-btn button{
    display: inline-block;
    width: 295px;
    height: 35px;
    background-color:#0059AB;
    border: none;
    border-radius: 4px;
}
.formation-btn button:hover{
    background-color: #337AB7;
}
.formation-btn button a{
    color: white;
    box-sizing: border-box;
}
.manual-block{
    display: flex;
    margin-left: 100px;
}
.manual-block a{
    display: inline-block;
    text-align: center;
    color: #337AB7;
    margin-left: 15px;
    position: relative;
    margin-top: 0px;
    margin-left: -20px;
}
.manual-block a:nth-child(1){
    margin-left: -30px;
}
.manual-block a:nth-child(2){
    margin-left: 30px;
}
.manual-block a:nth-child(1)::after{
    content: '/';
    position: absolute;
    bottom: 15px;
    margin-left: 60%;
    color: lightgray;
    font-size: 20px;
}

.sns-join{
    position: absolute;
    top: 70px;
    left: 660px;
}
.sns-join .title{
    border: 1px solid lightgray;
    width: 388px;
    height: 57px;
    background-color: #fff;
}
.sns-join .title p{
    color: gray;
}
.sns-join .wrap-item2{
    border: 1px solid lightgray;
    width: 388px;
    height: 276px;
    background-color: #fff;
}
.sns-join .wrap-item2 div{
    width: 300px;
    height: 35px;
    border: 1px solid lightgray;
    margin: 15px;
    border-radius: 5px;
    margin-left: 45px;
    line-height: 35px;
    
}
.wrap-item2 a:nth-child(1) div{
    background-color: black;
    color: white;
}
.wrap-item2 a:nth-child(1) div::before{
    content:"\f09b";
    font-family : 'fontawesome';
}
.wrap-item2 a:nth-child(2) div{
    background-color:#FFFFFF;
    color:black;
}
.wrap-item2 a:nth-child(2) div::before{
    content:"\f1a0";
    font-family : 'fontawesome';
}
.wrap-item2 a:nth-child(3) div{
    background-color: #1877F2;
    color: white;
}
.wrap-item2 a:nth-child(3) div::before{
    content:"\f09a";
    font-family : 'fontawesome';
}
.wrap-item2 a:nth-child(4) div{
    background-color: #FEE500;
    color: #3B1E1E;
}
.wrap-item2 a:nth-child(5) div{
    background-color: #1EC800;
    color: white;
}

.wrap-item2 a:hover div{
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.432);
}