body{
    margin: 0;
    text-align: center;
}
.menu{
    width: 210px;
    height: 100vh;
    background-color: #0059AB;
    position: absolute;
}
.menu a{
}
/* 로고 부분 */
.logo{
    margin: 9px 0 18px 0;
    width : inherit;
    border : 1px solid red;


}


.menu .searching{
}
.menu .searching input{
   
}
.menu .searching .btn{
}
.menu .searching .btn .icon a{
   
}
.big-menu{

}
.big-menu span{
   
}
.big-menu span a{
    
}
.big-menu span a:nth-child(1){
    
}
.big-menu span a:nth-child(2){
    
}
.small-menu{}
.small-menu span{
}
.small-menu span:nth-child(1){}
.small-menu span:nth-child(2){}
.small-menu span:nth-child(3){}
.small-menu span:nth-child(4){}
.small-menu span:nth-child(5){}


